.comment
    .comment__media 
        img.comment__img( src='/images/smile.svg' alt="user")
        .comment__like
    .comment__desc
        .comment__desc-title Мурад Сарафанов
        .comment__desc-last-seen 5 дней назад
        .comment__desc-paragraph Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
