.select 
    .select__input 
    ul.select__dropdown
        li.select__dropdown-item
        li.select__dropdown-item
        li.select__dropdown-item
        li.select__dropdown-item 
          a.select__dropdown-clear
          a.select__dropdown-apply
