@import '../colors&types';

.input{
    display: inline-block;
    font-family: inherit;
    padding: 0 14px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -0.15px;
    font-size: 14px;
    outline: none;
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover:focus{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: rgba(31, 32, 65, 0.75);
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
}