ul.ragination
    li.ragination__item.ragination__item-select
        a.ragination__link 1
    li.ragination__item 
        a.ragination__link 2
    li.ragination__item 
        a.ragination__link 3
    li.ragination__item 
        a.ragination__link ...
    li.ragination__item 
        a.ragination__link 15
    li.ragination__item 
        a.ragination__link 