.radio
    .radio__item 
        input.radio__input#radio_1(type='radio' name='male')
        label.radio__label(for='radio_1') Мужчина
    .radio__item
        input.radio__input#radio_2(type='radio' name='male')
        label.radio__label(for='radio_2') Женщина