details.details 
    summary.summary Дополнительные удобства
    .details__item 
        .checkbox
            input.checkbox__input#checkbox_2(type='checkbox')
            label.checkbox__label(for='checkbox_2') Завтрак
    .details__item 
        .checkbox
            input.checkbox__input#checkbox_3(type='checkbox')
            label.checkbox__label(for='checkbox_3') Письменный стол
    .details__item 
        .checkbox
            input.checkbox__input#checkbox_4(type='checkbox')
            label.checkbox__label(for='checkbox_4') Стул для кормления
    .details__item 
        .checkbox
            input.checkbox__input#checkbox_5(type='checkbox')
            label.checkbox__label(for='checkbox_5') Кроватка
    .details__item 
        .checkbox
            input.checkbox__input#checkbox_6(type='checkbox')
            label.checkbox__label(for='checkbox_6') Телевизор
    .details__item 
        .checkbox
            input.checkbox__input#checkbox_7(type='checkbox')
            label.checkbox__label(for='checkbox_7') Шампунь