.checkbox.checkbox-rich
    input.checkbox__input#checkbox_8(type='checkbox')
    label.checkbox__label.checkbox__label-main(for='checkbox_8') Широкий коридор
    label.checkbox__label.checkbox__label-desc(for='checkbox_8') Ширина коридоров в номере не менее 91 см.