doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="")
        title Document
    body 
        include modules/forms/dropdown/dropdown 
        br
        br
        include modules/forms/text-field/text-field
        br
        br
        include modules/forms/masked-tf/masked-tf 
        br
        br
        include modules/forms/date-dropdown/date-dropdown 
        br
        br
        include modules/forms/checkbox/checkbox
        br
        br
        include modules/forms/radio/radio
        br
        br
        include modules/forms/toggle/toggle
        br
        br
        include modules/forms/like-button/like-button
        br
        br
        include modules/forms/rate-button/rate-button
        h1 Привет Динислам
        h2 Привет Динислам
        h3 Привет Динислам
        br
        br
        include modules/forms/filter-date-dropdown/filter-date-dropdown
        br
        br
        include modules/forms/subscription-text-field/subscription-text-field
        br
        br
        include modules/forms/expandable-checkbox-list/expandable-checkbox-list
        br
        br
        include modules/forms/rich-checkbox/rich-checkbox
        br
        br
        include modules/forms/list/list
        br
        br
        include modules/forms/range-slider/range-slider
        br
        br
        include modules/forms/buttons/transparent-button/transparent-button
        br
        br
        include modules/forms/buttons/button/button
        br
        br
        include modules/forms/buttons/long-button/long-button
        br
        br
        include modules/forms/ragination/ragination
        br
        br
        include modules/forms/options/options
        br
        br
        include modules/forms/comment/comment


