@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
}
body{
    margin: 100px;
    height: 2000px; //
}
*{
    margin: 0;
    padding: 0;
}
