.rate 
    input.rate__input#star1(type='radio' name='star')
    label.rate__label(for='star1')
    input.rate__input#star2(type='radio' name='star')
    label.rate__label(for='star2')
    input.rate__input#star3(type='radio' name='star')
    label.rate__label(for='star3')
    input.rate__input#star4(type='radio' name='star')
    label.rate__label(for='star4')
    input.rate__input#star5(type='radio' name='star')
    label.rate__label(for='star5')