button.show__btn ДД.ММ.ГГГГ
.calendar
  .calendar__top
    button.btn__left  (<) 
    .month June
    .year 1998
    button.btn__right  (>)
  .calendar__middle
    table
      tr.week
        td.day Пн
        td.day Вт
        td.day Ср
        td.day Чт
        td.day Пт
        td.day Сб
        td.day Вс
      tr.week
        td.day1
        td.day2
        td.day3
        td.day4
        td.day5
        td.day6
        td.day7
      tr.week
        td.day8
        td.day9 
        td.day10
        td.day11
        td.day12
        td.day13 
        td.day14 
      tr.week
        td.day15
        td.day16
        td.day17
        td.day18
        td.day19
        td.day20
        td.day21
      tr.week
        td.day22
        td.day23 
        td.day24
        td.day25
        td.day26
        td.day27
        td.day28
      tr.week
        td.day29
        td.day30
        td.day31
        td.day32
        td.day33
        td.day34
        td.day35
      tr.week
        td.day36
        td.day37
        td.day38
        td.day39
        td.day40
        td.day41
        td.day42
  .calendar__bottom